* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    /*background: #ccc;*/
    margin: auto;
    overflow: hidden;
}


/* ----------- -------- HEADER --------- ---------*/

header {
    background: url('../imagenes/bg.jpg') #1486f9;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}

header .menu {
    margin: 40px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color: white;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid;
}

header .contenedor-texto {
    display: flex;
    margin: 190px 0;
    justify-content: center;
    align-content: center;
}

header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: white;
    font-weight: 300;
    margin: o;
}

header .contenedor-texto .texto .nombre {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .texto .profesion {
    font-size: 25px;
    line-height: 25px;
}


/* ----------- -------- ACERCA DE --------- ---------*/

.main .contenedor {
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .foto {
    margin-top: -60px;
}

.main .acerca-de .foto img {
    vertical-align: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .2);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.02s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.main .acerca-de .foto img:hover {
    vertical-align: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid #1482f3;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.main .acerca-de .texto {
    color: slategrey;
    font-weight: 500;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: rgb(6, 143, 181);
    text-align: center;
}

.main .acerca-de .texto .bold {
    color: steelblue;
    text-decoration: underline;
    ;
}


/* ----------- -------- TRABAJOS --------- ---------*/

.main .trabajos {
    background: whitesmoke;
    padding: 60px 0;
}

.main .trabajos .contenedor {
    overflow: hidden;
}

.main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: rgb(6, 143, 181);
    text-align: center;
}

.main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo {
    width: 23%;
    margin-bottom: 40px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
    font-weight: 700;
    color: rgb(6, 143, 181);
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
    font-size: 14px;
    color: rgb(148, 148, 148);
}


/* ----------- -------- FOOTER --------- ---------*/

footer .contacto {
    margin: auto;
    max-width: 1000px;
    padding: 60px 0px;
}

footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: rgb(6, 143, 181);
    text-align: center;
}

.footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
    border: 2px solid rgba(95, 155, 250, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
    width: 49.7%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton {
    margin: auto;
    background: rgb(6, 143, 181);
    color: #fff;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

footer .contacto .formulario .boton:hover {
    background: #2f94f3;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* ----------- -------- Redes Sociales --------- ---------*/

footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0;
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes-sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

footer .redes-sociales .twitter:hover {
    background: #1da1f2;
}

footer .redes-sociales .facebook:hover {
    background: #3b5998;
}

footer .redes-sociales .youtube:hover {
    background: #cd201f;
}

footer .redes-sociales .github:hover {
    background: #666666;
}

footer .redes-sociales .instagram:hover {
    background: #3f729b;
}


/* ----------- -------- para adaptar dispositivos --------- ---------*/

@media screen and (max-width: 800px) {
    header .menu {
        text-align: center;
    }
    .main .trabajos .contenedor-trabajos .trabajo {
        width: 46%;
    }
}

@media screen and (max-width: 500px) {
    header .contenedor-texto .texto .nombre {
        font-size: 35px;
    }
    header .contenedor-texto .texto .profesion {
        font-size: 18px;
    }
    footer .redes-sociales .contenedor {
        flex-wrap: wrap;
        padding: 20 0px;
    }
}

@media screen and (max-width: 968px) {
    .contacto .formulario {
        margin: auto;
        padding: 20px;
    }
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"] {
        width: 49.5%;
        margin-bottom: 15px;
    }
}